* {
  background: #f3f5fc;
}

.logo {
  position: static;
  width: 31.09px;
  margin-top: 10px;
  margin-left: 31px;
  margin-bottom: 25px;
}
.logo img {
  width: 35px;
}
.contenedor {
  display: flex;
  width: 100%;
}
.ingreso {
  width: 60%;
  height: 480px;
}

#entrada {
  width: 90%;
  height: 90%;
  font-size: 1.9em;
  border: none;
  resize: none;
  outline: none;
  margin-top: 30px;
  margin-left: 90px;
  color: #0a3871;
}

#entrada::placeholder {
  font-size: 1em;
  color: #0a3871;
}

.rectangulo {
  background-color: white;
  border-radius: 32px;
  width: 34%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 600px;
  float: right;
}

.solucion {
  /* display: block;modificar aca */
  display: none;
  width: 90%;
  height: 85%;
  margin: 2% auto;
  background:none;
  font-size: 1.8em;
}
.solucion p {
  background: none;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  color: #495057;
}

.ocultar {
  display: block;
  width: 95%;
  margin: auto;
  margin-top: 4em;
  background: none;
}

.muneco {
  background: none;
  display: block;
  max-width: 60%;
  height: auto;
  margin: auto;
  margin-bottom: 2%;
  padding: 5px;
}

#sinmensaje {
  font-weight: bold;
  text-align: center;
  font-size: 2.5em;
  background: none;
  margin-bottom: 5%;
}

#instrucciones {
  background: none;
  color: gray;
  font-size: 1.8em;
  text-align: center;
}

.copiar {
  font-size: 1.5em;
  margin: 0  auto;
  width: 30%;
  height: 60px;
  cursor: pointer;
  border: none;
  color: #0a3871;
  background: #d8dfe8;
  border-radius: 15px;
}

.acciones {
  width: 60%;
  height: 100px;
  margin-top: -7.2em;
}
.info {
  display: flex;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  font-weight: bold;
  padding: 8px;
}
.info p,
img {
  background: none;
  color: #828d98;
}

.botones {
  display: flex;
  width: auto;
}

.encriptar,
.desencriptar {
  font-size: 2em;
  width: 40%;
  height: 60px;
  color: white;
  background: #0a3871;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  margin: 0 auto;
}

.desencriptar {
  color: #0a3871;
  background: #d8dfe8;
}
footer{
  text-align: center;
  background: none;
}
@media screen and (max-width: 480px) {
  .contenedor, .ocultar, .acciones, .info, .solucion {
    width: 100%;
   
    display: block;
  }
  .ingreso{
    width: 100%;
  }
  #entrada{
    width: 100%;
    margin: 0 auto;
  }
  .info{
display: flex;
  }
  .botones{
    display:block;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .encriptar,.desencriptar{
    position: absolute;
    width: 100%;
    display: block;
  }
  .desencriptar{
    margin-top: 18.5%;
  }
  .rectangulo{
    display: block;
    width: auto;
    margin-top: 60px;
    float:inline-end;
  }
  .muneco{
    visibility: hidden;
    display: none;
  }

  .solucion{
    display: none;
    width: 345px;
    justify-content: center;
  }


  footer{
    display: flex;
    width: 100%;
    margin-top: 100%;
    justify-content: center;
    

  }


}
